* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar{
    width: 600px;
    margin: 50px;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid;
    border-right: 1px solid;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other{
    opacity: .3;
}

#prevMonth,
#nextMonth {
    background-color: white;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#prevMonth:hover,
#nextMonth:hover {
    background-color: gray;
    border-radius: 30%;
}

.top {
    text-align: center;
    height: 100px;
    font-size: 50px;
}

#currentDate{
    font-size: 30px;
    margin-bottom: 10px;
}