#logo{
    width :135px;
    height:50px;
    display: inline;
    float: left;
}

.header{
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#content-category{
    display: inline-block;
    /* float: left; */
}

#subcategory{
    display: inline-block;
    float: right;
}

li {
    display: inline-block;
    list-style: none;
    color: lightgray;
    margin: 5px;
}
