body{
    text-align: center;
    align-items: center;
    margin: 0 32%;
}

img {
    width: 400px;
    height: 200px;
}

button {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
}

.caroucel {
    overflow: hidden;
    width: 400px;
    height: 200px;
}

.content-list {
    display: flex;
    margin: 5px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.imgs {
    width: 400px;
    height: 200px;
}

#main{
    width: 100%;
    height: auto;
    display: inline;
}