html{
    width: 100%;
    height: 100%;

}

body{
    width: 100%;
    height: 100%;
}

.nav-bar{
    width: 100%;
}

.bar{
    width: 100%;
    height: 100px;
    background-color: gray;
}

li{
    list-style: none;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    text-align: center;
    background-color: gray;
    color: white;
}

.nav-item {
    padding: 4%;
    height: 100%;
    float: right;
}

.nav-item:hover{
    background-color: lightgray;
}

button{
    background-color: gray;
    border: none;
}

#menuBtn{
    display: flex;
    width: 100px;
    height: 100%;
    font-size: 50px;
    color: white;
    align-items: center;
    justify-content: center;
}

#menuBtn:hover {
    background-color: lightgray;
}

.show-menu{
    display: none;

}

@media screen and (max-width: 600px) {
    .nav-menu {
        display: none;
    }

    #menuBtn {
        display: flex;
    }
}

@media screen and (min-width: 600px){
    #menuBtn{
        display: none;
    }
    
}

#side-menu {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: gray;
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
    transform: rotate3d(0,0,0);

  }


/* 기존 CSS 코드에 추가할 부분 */
.side-menu {
    display: none; /* 처음에는 숨겨둠 */
    width: 100%;
    background-color: gray;
}

.side-menu.show-side-menu {
    display: block;
}

.side-menu-list {
    list-style: none;
    padding: 0;
}

.side-item {
    padding: 10px;
    color: white;
}

/* 추가된 부분 */
.side-item:hover {
    background-color: lightgray;
}